<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error 404</title>
</head>
<body>
<h1>There is an error in your operation</h1>
<h2>Please try again.</h2>
<h3 th:text="${signupError}"></h3>
<h3 th:text="${uploadError}"></h3>
<h3 th:text="${noteError}"></h3>
<a href="/home">Go to Home Page</a> <br>
<a href="/login">Go to Login Page</a>
</body>
</html>